{% extends "base.njk" %}

{% block content %}
    <div class="centered_post">
    <h1 class="title-section" style="text-align: center;">{{title}}; {{subtitle}}</h1>
    <h3 class="main-text-paragraph"> Published on: {{published}}</h3>
    <h3 class="main-text-paragraph" style="margin-bottom: 3%;"> By: {{author}}</h3>

    <div style="width: 50%; line-height: 1.6em;" class="post-content-paragraphs">
      {{ content | safe }}
    </div>
    </div>

{% endblock content %}
