{% extends "base.njk" %}

{% block content %}

    <div class="centered_post">
    <h1 class="title-section">{{title}}; {{subtitle}}</h1>
    <div class="post-content-paragraphs">

      {{ content | safe }}
    </div>
    </div>
    <div class="gap" style="height: 5em;">

{% endblock content %}
