{% extends "base.njk" %}

{% block content %}

    <div class="centered_post">
    <h1 class="title-section">{{title}}</h1>
    <h4 class="subtitle-section">{{subtitle}}</h4>

    <div class="post-content-paragraphs ">

      {{ content | safe }}
    </div>
    <h3 class="subtitle-section-published"> Published on: {{published}}</h3>
    </div>
    <div class="gap" style="height: 5em;">

{% endblock content %}
